body {
  margin: 0;
  padding: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/wildSide_bg_desktop.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  width: 350px;
  height: 200px;
  background-image: url(./images/wildSide_logo.png);
  background-repeat: no-repeat;
  position: fixed;
  top: 100px;
  left: 24px;
}

.bookBtn {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
color: #fff;
padding: 7px 14px;
font-size: 2em;
position: fixed;
left: 0;
right: 0;
bottom: 24px;
margin: 24px;
transition: 0.3s;
}

.bookBtn:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
  transform: translateY(-4px);
}

.bookBtn:active {
  transform: translateY(4px);
}

@media only screen and (max-width: 960px) {
  .background {
    background-image: url(./images/wildSide_bg_mobile.png);
    
  }

  .logo {
    width: 300px;
    height: 200px;
    background-image: url(./images/wildSide_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: auto;
    left: 24px;
    bottom: 75px;
  }
}